Django==2.1.7
django_ipware==2.1.0
djangorestframework==3.9.1
protobuf==3.7.0
msgpack_python==0.5.6
gunicorn==19.9.0
celery==4.2.1
redis==3.2.0
psycopg2==2.7.7

praw==6.0.0
imgurpython==1.1.7
paramiko==2.4.2

opencv_python==3.4.2.17
numpy==1.16.1
scipy==1.1.0
dlib==19.16.0
tensorflow==1.12.0
scikit_learn==0.20.2
scikit_image==0.14.2
matplotlib==3.0.2
PyOpenGL==3.1.0
glfw==1.7.0
Pillow==5.4.1

