{% extends 'objctify/base.html' %}
{% load staticfiles %}


{% block head_block %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/math.min.js' %}"></script>
    <script src="{% static 'js/three.min.js' %}"></script>
    <script src="{% static 'averagefaces/js/controls/OrbitControls.js' %}"></script>
    <script src="{% static 'js/msgpack.min.js' %}"></script>
    <script src="{% static 'js/3dview/3dview2.js' %}"></script>

    <script>
        $(function () {
            init_3d('3dcanvas', "{% static 'model/bfm_small.msg' %}");
            animate();
        });
    </script>
{% endblock %}

{% block content_block %}
    <div class="col-xs-8">
        <div id="chart" style="width:100%; height:100%;"></div>
    </div>
    <div class="col-xs-4">
        <div id="3dcanvas" style="width:500px; height:500px; background-color:#979797;"></div>
    </div>

    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('chart'));
        all_data = {
            "rateme-F": [],
            "rateme-M": []
        };


        function receive_data(data_key) {
            return function (data) {
                arr_data = convert_data(data.results, "created", "calculated_rating");
                all_data[data_key] = all_data[data_key].concat(arr_data);
                // fill in data
                myChart.setOption({
                    series: [{
                        // find series by name
                        name: data_key,
                        data: all_data[data_key]
                    }]
                });

                if (data.next) {
                    $.get(data.next).done(receive_data(data_key));
                }
            }
        }

        // Asynchronous data loading
        $.get('/api/submissions?format=json&gender=F').done(receive_data("rateme-F"));
        $.get('/api/submissions?format=json&gender=M').done(receive_data("rateme-M"));

        function convert_data(data, x_key, y_key) {
            out = [];
            for (i = 0; i < data.length; i++) {
                d = data[i];
                out.push([d[x_key], d[y_key], d]);
            }
            return out;
        }

        option = {
            backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
                offset: 0,
                color: '#f7f8fa'
            }, {
                offset: 1,
                color: '#cdd0d5'
            }]),
            title: {
                text: 'RateMe'
            },
            tooltip: {
                formatter: function (params) {
                    let data = params.data[2];
                    face_features = data.images[0].face_processings[0].shape_coefficients;
                    color_features = data.images[0].face_processings[0].color_coefficients;
                    expr_features = data.images[0].face_processings[0].expression_coefficients;

                    var meshverts = meshFromFeatures(model, face_features).valueOf();
                    var meshcolors = colorFromFeatures(model, color_features).valueOf();
                    createMesh(meshverts, model.faces, model.UVs, meshcolors);

                    let rez = '';//<iframe src="/submission/' + data.id + '" style="width:100%; height:100%"></iframe>';
                    return rez;
                },
                alwaysShowContent: true,
                triggerOn: 'mousemove|click',
                enterable: true,
                extraCssText: "width:400px; height: 500px;"
            },
            dataZoom: [
                {
                    type: 'slider',
                    xAxisIndex: 0,
                    start: 0,
                    end: 100
                },
                {
                    type: 'inside',
                    xAxisIndex: 0,
                    start: 0,
                    end: 100
                },
                {
                    type: 'slider',
                    yAxisIndex: 0,
                    start: 0,
                    end: 100
                },
                {
                    type: 'inside',
                    yAxisIndex: 0,
                    start: 0,
                    end: 100
                }
            ],
            legend: {
                right: 10,
                data: ['rateme-M', 'rateme-F']
            },
            xAxis: {
                type: "time",
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
            },
            yAxis: {
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
                scale: true
            },
            series: [{
                name: 'rateme-M',
                data: [],
                type: 'scatter',
                symbolSize: function (data) {
                    return Math.sqrt(data[2].score);
                },
                itemStyle: {
                    normal: {
                        color: "#52a8fd"
                    }
                }
            },
                {
                    name: 'rateme-F',
                    data: [],
                    type: 'scatter',
                    symbolSize: function (data) {
                        return Math.sqrt(data[2].score);
                    },
                    itemStyle: {
                        normal: {
                            color: "#ffd432"
                        }
                    }
                }]
        };

        // use configuration item and data specified to show chart
        myChart.setOption(option);
    </script>
{% endblock %}