{% extends 'objctify/base.html' %}
{% load staticfiles %}


{% block head_block %}
    <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ua-parser.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/math.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/msgpack.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/imagewarp/deformation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagewarp/interpolation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagewarp/point.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagewarp/matrix22.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/3dview/OrbitControls.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/3dview/3dview2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagewarp/img_warp.js' %}"></script>
    <script>
        if (!String.prototype.includes) {
            String.prototype.includes = function () {
                'use strict';
                return String.prototype.indexOf.apply(this, arguments) !== -1;
            };
        }

        var parser = new UAParser();
        var browser = parser.getBrowser();

        //include the safari canvas resizing code
        if (browser.name.includes("Safari")) {
            var exif = document.createElement('script');
            exif.setAttribute('src', "{% static 'js/exif.ios.js' %}");
            document.head.appendChild(exif);

            var binaryajax = document.createElement('script');
            binaryajax.setAttribute('src', "{% static 'js/binaryajax.js' %}");
            document.head.appendChild(binaryajax);

            var canvasresize = document.createElement('script');
            canvasresize.setAttribute('src', "{% static 'js/canvasResize.js' %}");
            document.head.appendChild(canvasresize);
        } else {
            var exif = document.createElement('script');
            exif.setAttribute('src', "{% static 'js/exif.min.js' %}");
            document.head.appendChild(exif);

            var loadimage = document.createElement('script');
            loadimage.setAttribute('src', "{% static 'js/load-image.all.min.js' %}");
            document.head.appendChild(loadimage);
        }
    </script>
    <style>
        body {
            overflow-x: hidden;
        }

        .scrolls-y {
            overflow-x: hidden;
            overflow-y: auto;
            white-space: nowrap
        }

        .modal-auto {
            width: auto;
            max-width: 1200px;
        }
    </style>
    <script>
        function checkAndDisplayResults(data, retryCount) {
            if (retryCount === undefined) {
                retryCount = 0;
            }

            $("#resultsmodal").modal("show");
            if (data.hasOwnProperty("result")) {
                $('#originalImages').html("");
                $('#improvedImages').html("");

                allRatings = [];
//        data.result.images.sort(function(a, b){return b.rating-a.rating});
//            for (var i=0; i<data.result.images.length; i++)
                var i = 0;
                var imageData = data.result.images[i].results;

                var modelview = imageData.modelview;
                var projection = imageData.projection;
                var viewport = imageData.viewport;
                var indexs = imageData.indexs;

                var orig_shape = imageData.shape;
                var orig_color = imageData.color;
                var orig_expression = imageData.expression;
                var new_shape = imageData.new_shape;
                var new_color = imageData.new_color;

                var processed_image = imageData.processed_image;

                //update the 3D mesh
                var orig_meshverts = meshFromFeatures(model, orig_shape, orig_expression).valueOf();
                var orig_meshcolors = colorFromFeatures(model, orig_color).valueOf();
                var new_meshverts = meshFromFeatures(model, new_shape, orig_expression).valueOf();
                var new_meshcolors = colorFromFeatures(model, new_color).valueOf();

                //create original image
                var orig = $("<img>");
                orig.attr("src", resizedImages[i].dataUrl);
                orig.addClass("img-responsive");
                orig.appendTo('#originalImages');

                //show the processed image
                $("#orig_warped").click(function () {
                    drawImageToCanvas(resizedImages[i].dataUrl);
                    createMesh(orig_meshverts, model.faces, model.UVs, orig_meshcolors);
                });
                $("#processed_warped").click(function () {
                    drawImageToCanvas(processed_image);
                    createMesh(new_meshverts, model.faces, model.UVs, new_meshcolors);
                });
                $("#custom_warped").click(function() {
                    updatemesh();
                });

                //add the ratings to the array
                allRatings.push(imageData.rating);

                init_warp_mesh(modelview, projection, viewport, indexs, orig_shape, orig_expression, orig_color, resizedImages[i].dataUrl);
                $("#processed_warped").click();
//            }

                //set the rating
                $("#rating").html(parseFloat(allRatings[0]).toFixed(2));

                $("#resultswaiting").hide();
                $("#resultserror").hide();
                $("#resultssucessful").show();

                resize_container(document.getElementById("3dcanvas"));

            } else {
                displayWaitingModal();
                if (retryCount < 10) {
                    setTimeout(function () {
                        $.ajax({
                            type: "GET",
                            url: "{% url 'api_GetResults' %}",
                            cache: false,
                            data: {
                                taskId: data.taskId,
                                type: "1"
                            },
                            success: function (data) {
                                if (data.status == "FAILURE") {
                                    displayErrorModal(data.error);
                                } else {
                                    checkAndDisplayResults(data, retryCount + 1);
                                }
                            },
                            error: function (data) {
                                displayErrorModal(data.statusText + "\n" + data.responseText.split("\n\n")[0]);
                            }
                        });
                    }, 2 + (500 * (2 * retryCount)));
                } else {
                    displayErrorModal("We were waiting too long, request timed out");
                }
            }
        }

        function displayWaitingModal(message) {
            $("#resultsmodal").modal("show");
            $("#resultswaiting").show();
            $("#resultserror").hide();
            $("#resultssucessful").hide();
            $("#resultserrorreason").html(message);
        }

        function displayErrorModal(message) {
            $("#resultsmodal").modal("show");
            $("#resultswaiting").hide();
            $("#resultserror").show();
            $("#resultssucessful").hide();
            $("#resultserrorreason").html(message);
        }

        function waitThenSubmitImages(imageselect) {
            if (resizedImages.length == imageselect.files.length) {
                var data = new FormData($("#uploadform")[0]);

                for (var i = 0; i < resizedImages.length; i++) {
                    if (browser.name.includes("Edge") || browser.name.includes("IE")) {
                        data.append("images", dataURLToBlob(resizedImages[i].dataUrl));
                    } else {
                        var resizedImage = new File([dataURLToBlob(resizedImages[i].dataUrl)], resizedImages[i].filename);
                        data.append("images", resizedImage);
                    }
                }
                displayWaitingModal();

                $.ajax({
                    url: "{% url 'upload' %}",
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (data) {
                        checkAndDisplayResults(data);
                    },
                    error: function (data) {
                        alert("There was an error uploading images");
                    }
                });

                //clear imageselect
                imageselect.value = "";
            }
        }

        function dataURLToBlob(dataURL) {
            var BASE64_MARKER = ';base64,';
            if (dataURL.indexOf(BASE64_MARKER) == -1) {
                var parts = dataURL.split(',');
                var contentType = parts[0].split(':')[1];
                var raw = parts[1];

                return new Blob([raw], {type: contentType});
            }

            var parts = dataURL.split(BASE64_MARKER);
            var contentType = parts[0].split(':')[1];
            var raw = window.atob(parts[1]);
            var rawLength = raw.length;

            var uInt8Array = new Uint8Array(rawLength);

            for (var i = 0; i < rawLength; ++i) {
                uInt8Array[i] = raw.charCodeAt(i);
            }

            return new Blob([uInt8Array], {type: contentType});
        }

        function correctImagesAndUpload(imageselect) {
            for (var i = 0; i < imageselect.files.length; i++) {
                var file = imageselect.files[i];

                // Ensure it's an image
                if (file.type.match(/image.*/)) {

                    //ensure image is correct orientation and max size, handling safaris weird behavior
                    if (browser.name.includes("Safari")) {
                        canvasResize(file, {
                            width: 512,
                            height: 0,
                            crop: false,
                            quality: 80,
                            callback: function (data, width, height) {
                                resizedImages.push({"filename": file.name, "dataUrl": data});
                                waitThenSubmitImages(imageselect);
                            }
                        });

                    } else {
                        loadImage(
                            file,
                            function (canvas) {
                                var dataUrl = canvas.toDataURL('image/jpeg');

                                resizedImages.push({"filename": file.name, "dataUrl": dataUrl});

                                waitThenSubmitImages(imageselect);
                            },
                            {
                                maxWidth: 512,
                                maxHeight: 512,
                                orientation: true,
                                canvas: true
                            }
                        );
                    }
                } else {
                    displayErrorModal("The file you uploaded is not an image");
                    return;
                }
            }
        }

        var resizedImages = [];
        $(function () {
            // start downloading the pca model
            init_3d("3dcanvas", "{% static 'model/bfm_small.msg' %}");
            animate();
            init_warp_controls("warpCanvas");

            //upload and example buttons
            $('#imageselect_F').change(function (event) {
                if (!browser.name.includes("IE")) {
                    resizedImages = [];
                }
                $("#uploadform > input[name='gender']").val("F");
                correctImagesAndUpload(event.target);
            });
            $('#imageselect_M').change(function (event) {
                if (!browser.name.includes("IE")) {
                    resizedImages = [];
                }
                $("#uploadform > input[name='gender']").val("M");
                correctImagesAndUpload(event.target);
            });

            $("#examplebtn").click(function (event) {
                var i = $("#example_carousel > ul > li.active").index();
                var exampleData = examples[i];
                checkAndDisplayResults(exampleData);
            });

            // example carousel
            var midI = parseInt(examples.length / 2);
            for (var i = 0; i < examples.length; i++) {
                var exampleLi = $("<li>");
                var exampleIm = new Image();
                exampleIm.onload = function (imageEvent) {
                    slideToNextActive(0);
                };
                exampleIm.src = examples[i].result.images[0].original;
                if (i == midI) {
                    exampleLi.addClass("active");
                }
                exampleLi.append(exampleIm);
                $("#example_carousel > ul").append(exampleLi);
            }
            slideToNextActive(0);
        });
    </script>
{% endblock %}

{% block content_block %}
    <div class="row center-text">
        <h1 class="title">Objctify Me</h1>
    </div>
    <div class="row center-text">
        <h4>Use Deep Learning to rate and improve* your selfies</h4>
    </div>

    <div class="row">
        <h5>About:</h5>
        <p>Objctify Me is a fun side project, that uses Deep Learning to analyse your facial structure, how it differs
            from others, and then changes your facial structure slightly to create a new and improved image. The changes
            the AI algorithm makes are typically subtle, so that you can put your best face forward while still being
            recognisable, handy for slight changes to your online dating or social media profiles.</p>
    </div>

    <div class="row" style="margin-top: 30px;">
        <p>Try it out on some of our examples below or upload your own:</p>
        <div id="example_carousel">
            <ul>
            </ul>
            <a class="left carousel-control" role="button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" role="button">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row">
        <label id="examplebtn" class="btn btn-default col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            Try out an example photo
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="margin-left: 6px;"></span>
        </label>
    </div>

    <div class="row center-text" style="margin-top:20px;">
        <p>Upload your own (your images will not be made public):</p>
    </div>

    <div class="row">
        <label class="btn btn-info btn-file btn-lg col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4 textwrap">
            Upload My Own
            <span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-left: 6px;"></span>
            <input id="imageselect_F" class="btn" type="file" accept="image/*" style="display: none;">
        </label>
        {#        <label class="btn btn-primary btn-file btn-lg col-xs-6 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-2 textwrap">#}
        {#            Upload My Own (Male)#}
        {#            <span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-left: 6px;"></span>#}
        {#            <input id="imageselect_M" class="btn" type="file" accept="image/*" style="display: none;">#}
        {#        </label>#}
        <form id="uploadform" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="1">
            <input type="hidden" name="gender" value="F">
        </form>
    </div>

    <div class="row" style="margin-top:40px;">
        <p><b>Disclaimer:</b> Objctify.Me's algorithm is trained on data gathered from Reddit's /r/RateMe (see <a
                href="{% url 'about' %}">How it works</a>),
            and probably suffers from cultural bias, insufficient data, and a lack of a humanity. Don't take the
            results seriously.</p>
    </div>
{% endblock %}

{% block end_body_block %}
    <div id="resultsmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-auto" role="document">
            <div id="resultswaiting" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Waiting:</h4>
                </div>
                <div class="modal-body">
                    <p>Hold tight while we process your image.</p>
                </div>
            </div>
            <div id="resultserror" class="modal-content" style="display:none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Error:</h4>
                </div>
                <div class="modal-body">
                    <h2>Sorry!</h2>
                    <p>There has been an error processing the image you uploaded:</p>
                    <p id="resultserrorreason">No Reason Given</p>
                </div>
            </div>
            <div id="resultssucessful" class="modal-content" style="display:none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Results! Our algorithm rates you:
                        <span id="rating" style="padding-left:10px; font-size: 50px; font-weight: bold;">1</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8" style="max-width: 600px;">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                        Below you can see your improved image and a 3D reconstruction of your face.<br>Also
                                        try using the sliders to the right to morph your own face, and see if you can do
                                        a better job than our AI.</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
                                    <label id="processed_warped" class="btn btn-info active">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>AI
                                        Processed
                                    </label>
                                    <label id="orig_warped" class="btn btn-info">
                                        <input type="radio" name="options" id="option2" autocomplete="off">Original
                                    </label>
                                    <label id="custom_warped" class="btn btn-info">
                                        <input type="radio" name="options" id="option3" autocomplete="off" checked>Custom
                                    </label>
                                </div>
                                <canvas id="warpCanvas" class="img-responsive" style="width:100%;"></canvas>
                            </div>


                        </div>
                        <div class="col-md-4" style="width: auto; max-width: 530px;">
                            <button id="default" type="button" class="btn btn-warning">Reset to default</button>
                            <div class="form-group form-group-lg">
                                <label class="control-label" for="coeffGender">Gender:</label>
                                <input type="range" id="coeffGender" value="0" min="-5" max="5" step="0.1">
                            </div>

                            <div class="form-group form-group-lg">
                                <label class="control-label" for="coeffAge">Age:</label>
                                <input type="range" id="coeffAge" value="0" min="-5" max="5" step="0.1">
                            </div>

                            <div class="form-group form-group-lg">
                                <label class="control-label" for="coeffWeight">Weight:</label>
                                <input type="range" id="coeffWeight" value="0" min="-5" max="5" step="0.1">
                            </div>

                            <div class="form-group form-group-lg">
                                <label class="control-label" for="coeffHeight">Height:</label>
                                <input type="range" id="coeffHeight" value="0" min="-5" max="5" step="0.1">
                            </div>
                        <div class="form-group form-group-lg">
                            <label class="control-label" for="showlandmarks">Show Landmarks:</label>
                            <input type="checkbox" id="showlandmarks">
                        </div>
{#                        <div class="form-group form-group-lg">#}
{#                            <label class="control-label" for="showgrid">Show Grid:</label>#}
{#                            <input type="checkbox" id="showgrid">#}
{#                        </div>#}
                            <div id="3dcanvas" style="width:500px; height:500px"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}